{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posting</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script
        src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
        crossorigin="anonymous">
    </script>
</head>
<body>
    <!--posting/writer-->
    <!-- % static 'img/user-img.png' % -->
    <div class="d-flex justify-content-start ap-writer-box ps-4 pe-2 align-items-center">
        <img class="circle-img" style="height:60px;" src="{{ place.author.profile_img.url }}">
        <div class="writer"><p style="margin:0; font-weight:bold; color: white;">{{ place.author }}</p></div>
    </div>
    <!--posting-->
    <section class="posting-total-box mt-3">
        <!--posting/images-->
        <div id="carouselExampleControls" class="carousel slide carousel-box p-3 pt-0" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active d-flex justify-content-center">
                    <img class="carousel-img w-100 h-100" src="{{ place.img.url }}" class="d-block w-100">
                </div>
            </div>
        </div>

        <!--posting/text-->
        <div class="text-box d-flex justify-content-start">
            <div class="container m-0">
                <div class="row mt-4">
                    <h1 class="text-title col-9 p-0 mb-0 align-items-center"><span>{{ place.name }}</span></h1> 
                    <div id="liveToastBtn" class="save-box col-2">
                        {% if place in user.placescrap.all %}
                        <div class="d-flex align-items-center justify-content-center"><img style="width: 30px; height: 30px;" class="save-img row" id="scrap-btn-full" src="{% static 'img/full-scrap.png' %}"></div>
                        <div class="d-flex align-items-center justify-content-center"><p class="save-text row" id="scrap">{{ place.scrap_cnt }}</p></div>
                        {% else %}
                        <div class="d-flex align-items-center justify-content-center"><img style="width: 30px; height: 30px;" class="save-img row" id="scrap-btn-empty" src="{% static 'img/bin-scrap.png' %}"></div>
                        <div class="d-flex align-items-center justify-content-center"><p class="save-text row" id="scrap">{{ place.scrap_cnt }}</p></div>
                        {% endif %}
                    </div>
                </div>
                
                <!--toast-->
                <div class="toast-container position-fixed bottom-20 end-0 p-3">
                    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="toast-body posting-toast-box">
                            <p class="posting-toast-text">내 지도에 저장이 되었어요.</p>
                            <button type="button" data-bs-dismiss="toast" aria-label="Close" class="posting-toast-close">X</button>
                        </div>
                    </div>
                </div>
                {{ place.scrap_cnt|json_script:"scrapcnt" }}
                <script>
                    const toastTrigger = document.getElementById('liveToastBtn')
                    const toastLiveExample = document.getElementById('liveToast')
                    let scrap = document.getElementById('scrap')
                    if (toastTrigger) {
                        toastTrigger.addEventListener('click', () => {
                            const scrap_btn_empty = document.getElementById('scrap-btn-empty')
                            const scrap_btn_full = document.getElementById('scrap-btn-full')
                            const toast = new bootstrap.Toast(toastLiveExample)
                            let cnt = scrap.innerText*1;
                            if (scrap_btn_empty == null){
                                cnt -= 1;
                                toastTrigger.innerHTML="<div class='d-flex align-items-center justify-content-center'><img style='width: 30px; height: 30px;' class='save-img row' id='scrap-btn-empty' src='{% static 'img/bin-scrap.png' %}'></div><div class='d-flex align-items-center justify-content-center'><p class='save-text row' id='scrap'>{{ place.scrap_cnt }}</p></div>"
                                let param = {'content':'False'}
                                $.ajax({
                                    type: 'POST',
                                    url: "{% url 'scrap' place.id %}",
                                    headers: {
                                        'X-CSRFTOKEN' : '{{ csrf_token }}'
                                    },
                                    data: JSON.stringify(param),
                                    success: function (response) {
                                        console.log("success")
                                    },
                                    error: function (response) {
                                        // alert the error if any error occured
                                    }
                                })
                            }
                            else{
                                toast.show()
                                cnt += 1;
                                toastTrigger.innerHTML="<div class='d-flex align-items-center justify-content-center'><img style='width: 30px; height: 30px;' class='save-img row' id='scrap-btn-full' src='{% static 'img/full-scrap.png' %}'></div><div class='d-flex align-items-center justify-content-center'><p class='save-text row' id='scrap'>{{ place.scrap_cnt }}</p></div>"
                                let param = {'content':'True'}
                                $.ajax({
                                    type: 'POST',
                                    url: "{% url 'scrap' place.id %}",
                                    headers: {
                                        'X-CSRFTOKEN' : '{{ csrf_token }}'
                                    },
                                    data: JSON.stringify(param),
                                    success: function (response) {
                                        console.log("success")
                                    },
                                    error: function (response) {
                                        // alert the error if any error occured
                                    }
                                })
                            }
                            console.log(cnt)
                            scrap = document.getElementById('scrap')
                            scrap.innerText = cnt   
                        }
                    )}
                </script>
                <div class="text-content row mb-2">
                    {{place.description|linebreaks}}
                </div>
                <!-- <p class="text-content row" style="padding:0;">{{adminplace.description|linebreaks}}</p> -->
                <div class="row">
                    <div class="type-box col-3 d-flex p-0">
                        {% if place.category == "자연" %}
                        <span><img src="{% static 'img/category-nature.png' %}"></span>
                        {% elif place.category == "카페" %}
                        <span><img src="{% static 'img/category-cafe.png' %}"></span>
                        {% elif place.category == "식당" %}
                        <span><img src="{% static 'img/category-cafeteria.png' %}"></span>
                        {% elif place.category == "여가/활동" %}
                        <span><img src="{% static 'img/category-activity.png' %}"></span>
                        {% else %}
                        <span><img src="{% static 'img/category-nature.png' %}"></span>
                        {% endif %}
                        <span class="type-text">{{place.category}}</span>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!--comment-->
    <div class="comment-card pt-4 mb-5">
        <h4 class="pb-3" style="font-weight: bold;">댓글</h4>
        {% for comment in place.placecomment_set.all %}
            <div class="comment-box">
                <img class="comment-img" src="{{ comment.author.profile_img.url }}">
                <div class="comment-writer">
                    <h1 class="comment-person">{{ comment.author }}</h1>
                    <p class="mt-0 comment-content">{{ comment.text }}</p>
                </div>
            </div>
            <hr>
        {% endfor %}

        <div class="comment-box">
            <img class="comment-img" src="{{ user.profile_img.url }}">
            <form style="display: flex;" action="" method="post">
                {% csrf_token %}
                <div class="comment-writer" style="padding-top:1rem;">
                    <input style="color:gray; margin:0; border: 0px;" id="text" name="text" placeholder="댓글 달기...">
                </div>
                <div>
                    <input class="comment-post" type="submit" value="게시">
                </div>
            </form>           
        </div>

    </div>

    <!--footer-->
    <div class="footer-list">
        <span class="footer-icon"><a href="{% url 'main' %}"><img style="width:30px; height:27px;" src="{% static 'img/home.png' %}"></a></span>
        <span class="footer-icon"><a href="{% url 'setcourse' %}"><img style="width:60px; height:60px;" src="{% static 'img/location.png' %}"></a></span>
        <span class="footer-icon"><a href="{% url 'otherscourse' %}"><img style="width:27px; height:35px;" src="{% static 'img/course.png' %}"></a></span>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>