{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posting</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>

    <!--posting-->
    <section style="margin-top:2rem; padding-left:0;">

        <!--posting/writer-->
        <div class="writer-box">
            <img style="height:60px;" src="{% static 'img/user-img.png' %}">
            <div class="writer"><p style="margin:0; font-weight:bold;">대구 파수꾼</p></div>
        </div>

        <!--posting/images-->
        <div id="carouselExampleControls" class="carousel slide carousel-box" data-bs-ride="carousel">
            <div class="carousel-inner">
            <div class="carousel-item active">
                <img style="height:200px;" src="{% static 'img/posting.png' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img style="height:200px;" src="{% static 'img/posting.png' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img style="height:200px;" src="{% static 'img/posting.png' %}" class="d-block w-100" alt="...">
            </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
        </div>

        <!--posting/text-->
        <div class="text-box">
            <div style="display:flex;">

                <h1 class="text-title">화원유원지</h1> 

                    <!--toast-->
                    <div id="liveToastBtn" class="save-box">
                        <img class="save-img" src="{% static 'img/bin-scrap.png' %}">
                        <p class="save-text">120</p>
                    </div>
                    <div class="toast-container position-fixed bottom-20 end-0 p-3">
                        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="toast-body" style="background-color:rgb(63, 63, 63); display:flex; flex-direction:row; justify-content:center; align-items:center; border-radius:10px; height:4rem;">
                            <p style="text-align:center; color:white; margin:0; font-size:17px;">내 지도에 저장이 되었어요.</p>
                            <button type="button" data-bs-dismiss="toast" aria-label="Close" style="color:white; font-weight:bold; background-color:rgb(63, 63, 63); border:0px; margin-left: 1rem;">X</button>
                        </div>
                        </div>
                    </div>
                    <script>
                        const toastTrigger = document.getElementById('liveToastBtn')
                        const toastLiveExample = document.getElementById('liveToast')
                        if (toastTrigger) {
                        toastTrigger.addEventListener('click', () => {
                            const toast = new bootstrap.Toast(toastLiveExample)

                            toast.show()
                        })
                        }
                    </script>

            </div>
            <p class="text-content" style="padding:0;">화원유원지라는 곳에 와봤어요!:) <br>물가도 깨끗하고 사람도 적고 <br>너무 좋았습니당</p>
            <div class="type-box">
                <div><img src="{% static 'img/nature.png' %}"></div>
                <p class="type-text">자연</p>
            </div>
        </div>

    </section>

    <!--comment-->
    <div style="padding:2rem; padding-top:5rem; padding-bottom:4.5rem;">

        <div class="comment-box">
            <img class="comment-img" src="{% static 'img/user-img.png' %}">
            <div class="comment-writer">
                <h1 class="comment-person">min_ji</h1>
                <p class="comment-content">대구에 이런 데도 있네요...</p>
            </div>
        </div>
        <hr>

        <div class="comment-box">
            <img class="comment-img" src="{% static 'img/user-img.png' %}">
            <div class="comment-writer">
                <h1 class="comment-person">지민이</h1>
                <p class="comment-content">화원유원지 좋죠 저도 가봤는데<br>은근 분위기 있음!!</p>
            </div>
        </div>
        <hr>

        <div class="comment-box">
            <img class="comment-img" src="{% static 'img/user-img.png' %}">
            <div class="comment-writer">
                <h1 class="comment-person">울랄랄라</h1>
                <p class="comment-content">다음번에 가족끼리 오고 싶네요 ㅎㅎ</p>
            </div>
        </div>
        <hr>

        <div class="comment-box">
            <img class="comment-img" src="{% static 'img/user-img.png' %}">
            <div class="comment-writer" style="padding-top:1rem;">
                <p style="color:gray; margin:0;">댓글달기 ...</p>
            </div>
            <div>
                <h1 style="color:blue; font-size:20px; margin:0; padding-top:1rem; padding-left:5rem;">게시</h1>
            </div>
        </div>

    </div>

    <!--footer-->
    <div class="footer-list">
        <span class="footer-icon"><a href="{% url 'main' %}"><img style="height:1.5rem;" src="{% static 'img/home.png' %}"></a></span>
        <span class="footer-icon"><img style="height:1.5rem;" src="{% static 'img/location.png' %}"></span>
        <span class="footer-icon"><img style="height:1.5rem;" src="{% static 'img/search.png' %}"></span>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>