{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posting</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <!--posting-->
    <section class="posting-total-box">

        <!--posting/writer-->
        <!-- % static 'img/user-img.png' % -->
        <div class="writer-box">
            <img class="circle-img" style="height:60px;" src="{{ adminplace.profile_img.url }}">
            <div class="writer"><p style="margin:0; font-weight:bold;">{{ adminplace.author }}</p></div>
        </div>

        <!--posting/images-->
        <div id="carouselExampleControls" class="carousel slide carousel-box" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active d-flex justify-content-center">
                    <img class="carousel-img" src="{{ adminplace.thumbnail.url }}" class="d-block w-100">
                </div>
            </div>
            <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button> -->
        </div>

        <!--posting/text-->
        <div class="text-box d-flex justify-content-center">
            <div class="container">
                <div class="row">
                    <h1 class="text-title col-10 p-0"><span>{{ adminplace.name }}</span></h1> 
                    <div id="liveToastBtn" class="save-box col-2">
                        <img class="save-img row" src="{% static 'img/bin-scrap.png' %}">
                        <p class="save-text row" id="scrap">{{ adminplace.scrap_cnt }}</p>
                    </div>
                </div>
                
                <!--toast-->
                <div class="toast-container position-fixed bottom-20 end-0 p-3">
                    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-body posting-toast-box">
                        <p class="posting-toast-text">내 지도에 저장이 되었어요.</p>
                        <button type="button" data-bs-dismiss="toast" aria-label="Close" class="posting-toast-close">X</button>
                    </div>
                    </div>
                </div>
                {{ adminplace.scrap_cnt|json_script:"scrapcnt" }}
                <script>
                    const toastTrigger = document.getElementById('liveToastBtn')
                    const toastLiveExample = document.getElementById('liveToast')
                    const scrap = document.getElementById('scrap')
                    if (toastTrigger) {
                    toastTrigger.addEventListener('click', () => {
                        const toast = new bootstrap.Toast(toastLiveExample)
                        const cnt = scrap.innerText*1 + 1
                        scrap.innerHTML = cnt
                        toast.show()
                    })
                    }
                </script>
                <div class="text-content row">
                    {{adminplace.description|linebreaks}}
                </div>
                <!-- <p class="text-content row" style="padding:0;">{{adminplace.description|linebreaks}}</p> -->
                <div class="row">
                    <div class="type-box col-3 d-flex p-0">
                        {% if adminplace.category == "자연" %}
                        <span><img src="{% static 'img/category-nature.png' %}"></span>
                        {% elif adminplace.category == "카페" %}
                        <span><img src="{% static 'img/category-cafe.png' %}"></span>
                        {% elif adminplace.category == "식당" %}
                        <span><img src="{% static 'img/category-cafeteria.png' %}"></span>
                        {% elif adminplace.category == "여가/활동" %}
                        <span><img src="{% static 'img/category-activity.png' %}"></span>
                        {% else %}
                        <span><img src="{% static 'img/category-nature.png' %}"></span>
                        {% endif %}
                        <span class="type-text">{{adminplace.category}}</span>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!--comment-->
    <div class="comment-card">
        {% for comment in adminplace.adminplacecomment_set.all %}
            <div class="comment-box">
                <img class="comment-img" src="{{ comment.author.profile_img.url }}">
                <div class="comment-writer">
                    <h1 class="comment-person">{{ comment.author }}</h1>
                    <p class="comment-content">{{ comment.text }}</p>
                </div>
            </div>
            <hr>
        {% endfor %}

        <div class="comment-box">
            <img class="comment-img" src="{{ user.profile_img.url }}">
            <form style="display: flex;" action="" method="post">
                {% csrf_token %}
                <div class="comment-writer" style="padding-top:1rem;">
                    <input style="color:gray; margin:0; border: 0px;" id="text" name="text" placeholder="댓글 달기...">
                </div>
                <div>
                    <input class="comment-post" type="submit" value="게시">
                </div>
            </form>           
        </div>

    </div>

    <!--footer-->
    <div class="footer-list">
        <span class="footer-icon"><a href="{% url 'main' %}"><img style="height:1.5rem;" src="{% static 'img/home.png' %}"></a></span>
        <span class="footer-icon"><a href="{% url 'course' %}"><img style="height:1.5rem;" src="{% static 'img/location.png' %}"></a></span>
        <span class="footer-icon"><img style="height:1.5rem;" src="{% static 'img/search.png' %}"></span>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>