{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    </style>
</head>
<body>
    <!--footer-->
    <div style="position:fixed; bottom:0; left:0; height:6rem; width:100vw; display:flex; justify-content:space-between; align-items:center; padding: 0; border-radius:15px; box-shadow:0px -5px 10px -5px gray; ">
        <span style="width:33%; display:flex; justify-content:center;"><img style="height:3rem; " src="{% static 'img/home.png' %}" alt=""></span>
        <span style="width:33%; display:flex; justify-content:center;"><img style="height:3rem; " src="{% static 'img/location.png' %}" alt=""></span>
        <span style="width:33%; display:flex; justify-content:center;"><img style="height:3rem; " src="{% static 'img/search.png' %}" alt=""></span>
    </div>
</body>
</html>