{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <!--header-->
    <div class="header-format" >
        <p class="header-text">대구가까</p>
    </div>

    <!--search-->
    <div class="container-fluid search">
        <form class="d-flex" action=".">
            <input class="form-control me-2" type="search" placeholder="이월드 벚꽃개장, 동촌유원지..">
            <button class="btn btn-outline-dark" type="submit" style="width:5rem; height:2.5rem;"><img src="{% static 'img/search.png' %}" style="height:1rem;"></button>
        </form>
    </div>

    <!--content-->
    <section style="padding-top:2rem;">
        <h1 class="content-text">#대구핫플🔥</h1>
        <div style="padding:1.5rem;">
            <div class="content-list"> <!--overflow-x:scroll;-->
                <img class="content-img" src="{% static 'img/image.png' %}">
                <img class="content-img" src="{% static 'img/image.png' %}">
                <img class="content-img" src="{% static 'img/image.png' %}">
                <img class="content-img" src="{% static 'img/image.png' %}">
            </div>
        </div>
    </section>

    <section>
        <h1 class="content-text">#노을에 맥주 한 캔🍺</h1>
        <div style="padding:1.5rem;">
            <div class="content-list"> <!--overflow-x:scroll;-->
                <img class="content-img" src="{% static 'img/image.png' %}">
                <img class="content-img" src="{% static 'img/image.png' %}">
                <img class="content-img" src="{% static 'img/image.png' %}">
                <img class="content-img" src="{% static 'img/image.png' %}">
            </div>
        </div>
    </section>

    <section>
        <h1 class="content-text">#이런 곳도 있어? 숨겨진 명소</h1>
        <div style="padding:1.5rem;">
            <div class="content-list"> <!--overflow-x:scroll;-->
                <img class="content-img" src="{% static 'img/image.png' %}">
                <img class="content-img" src="{% static 'img/image.png' %}">
                <img class="content-img" src="{% static 'img/image.png' %}">
                <img class="content-img" src="{% static 'img/image.png' %}">
            </div>
        </div>
    </section>

    <!--course-->
    <section style="padding-bottom:5rem;">
        <h1 class="course-text">다른 사람 나들이 코스 보기</h1>
        <div style="padding:1.5rem;">
            <div class="course-list"> <!--overflow-x:scroll;-->
                <img class="course-img" src="{% static 'img/image.png' %}">
                <img class="course-img" src="{% static 'img/image.png' %}">
                <img class="course-img" src="{% static 'img/image.png' %}">
                <img class="course-img" src="{% static 'img/image.png' %}">
            </div>
        </div>
    </section>


    
    <!--footer-->
    <div class="footer-list">
        <span class="footer-icon"><img style="height:1.5rem;" src="{% static 'img/home.png' %}"></span>
        <span class="footer-icon"><img style="height:1.5rem;" src="{% static 'img/location.png' %}"></span>
        <span class="footer-icon"><img style="height:1.5rem;" src="{% static 'img/search.png' %}"></span>
    </div>
</body>
</html>