{% extends 'activefooter.html' %}
{% load static %}

{% block content %}

<div class="d-flex justify-content-start ap-writer-box ps-4 pe-2 align-items-center">
    <img class="circle-img" style="height:60px;" src="{{ user.profile_img.url }}">
    <div class="writer"><p style="margin:0; font-weight:bold; color: white;">{{ user }}(나)</p></div>
</div>

<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
    <button class="myfeed-tab nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">사진</button>
    <hr style="margin:0; border-color: #450C8D;">
    </li>
    <li class="nav-item" role="presentation">
    <button class="myfeed-tab nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">코스</button>
    <hr style="margin:0;">
    </li>
</ul>
<div class="tab-content" id="pills-tabContent">
<!--tab one-->
<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
    <div class="pic-container p-1">
        {% for course in user.course_set.all %}
            {% for place in course.place.all %}
            <span class="pic"> <img style="width: 112px; height: 112px;" src="{{place.img.url}}" alt=""> </span>
            {% endfor %}
        {% endfor %}
    </div>
</div>
<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
    {% for course in user.course_set.all %}
    <a href="{% url 'postdetail' course.id %}" style="text-decoration: none;">
        <div class="course-card m-3" style="background-image: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)), url('{{course.thumbnail.url}}'); background-repeat:norepeat; background-size:cover; color: white;">
            <div class="d-flex flex-column justify-content-start myfeed-header pb-2">
                <div class="mb-2">
                    <img class="circle-img" style="height:60px;" src="{{ user.profile_img.url }}">
                    <span class="writer" style="margin:0; font-weight:bold; color: white;">{{ user }}</span>
                </div>
                <div>
                    <h4>{{course.name}}</h4>
                </div>
                <div class="mb-2">
                    {% for place in course.place.all %}
                        {{place.name}} →
                    {% endfor %}
                </div>
                <div class="mb-2">
                    {% for place in course.place.all %}
                        <span class="small-pic"><img style="width: 40px; height: 40px;" src="{{place.img.url}}" alt=""></span>
                    {% endfor %}
                </div>
                <div class="d-flex justify-content-end pe-2">
                    {{course.hashtag}}
                </div>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
</div>
<script>
    const pic_tab=document.getElementById('pills-home-tab')
    const cou_tab=document.getElementById('pills-profile-tab')
    pic_tab.addEventListener('click', ()=>{
        pic_tab.style="border-bottom: 3px solid #450C8D;"
        cou_tab.style="border-bottom: 0px;"
    })
    cou_tab.addEventListener('click', ()=>{
        cou_tab.style="border-bottom: 3px solid #450C8D;"
        pic_tab.style="border-bottom: 0px;"
    })
</script>
{% endblock %}

