{% extends 'activefooter.html' %}
{% load static %}

{% block content %}
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
    <button style="border-bottom: 3px solid #450C8D;" class="myfeed-tab nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">직접 만들기</button>
    <hr style="margin:0; color:gray;">
    </li>
    <li class="nav-item" role="presentation">
    <button class="myfeed-tab nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">코스 따라하기</button>
    <hr style="margin:0; color:gray;">
    </li>
</ul>

<div class="tab-content" id="pills-tabContent" style="padding-bottom: 5rem;">
<!--tab one-->
<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">

    <!--search-->
    <div class="d-flex" role="search" style="padding:0 1rem; padding-top:1rem;">
        <input id="modalBtn" class="form-control course-search-text" type="search" aria-label="Search" placeholder="가고싶은 장소를 검색해보세요.">
        <button class="btn course-search-button" type="submit"><img src="{% static 'img/search.png' %}" style="height:1.2rem;"></button>
    </div>

    <!--type-->
    <div class="justify-content-center" style="padding:0; position: relative;">
        <!--카테고리 버튼들-->
        <div class="category-list d-flex align-items-center">
            <span class="category-container">
                <button type="button" class="btn type-box" name="sick" style="margin-left:1rem;">
                    <div><img src="{% static 'img/restaurant.png' %}" style="padding:0 0.2rem;"></div>
                    <p class="type-text" style="padding:0 0.2rem;">식당</p>
                    <p class="type-text" style="padding:0 0.2rem;">{{places_sick|length}}</p>
                </button>
            </span>
            <span class="category-container">
                <button type="button" class="btn type-box" name="ca" style="margin-left:1rem;">
                    <div><img src="{% static 'img/cafe.png' %}" style="padding:0 0.2rem;"></div>
                    <p class="type-text" style="padding:0 0.2rem;">카페</p>
                    <p class="type-text" style="padding:0 0.2rem;">{{places_ca|length}}</p>
                </button>
            </span>
            <span class="category-container">
                <button type="button" class="btn type-box" name="ja" style="margin-left:1rem;">
                    <div><img src="{% static 'img/nature.png' %}" style="padding:0 0.2rem;"></div>
                    <p class="type-text" style="padding:0 0.2rem;">자연</p>
                    <p class="type-text" style="padding:0 0.2rem;">{{places_ja|length}}</p>
                </button>
            </span>
            <span class="category-container">
                <button type="button" class="btn type-box" name="yeo" style="margin-left:1rem;">
                    <div><img src="{% static 'img/hobby.png' %}" style="padding:0 0.2rem;"></div>
                    <p class="type-text" style="padding:0 0.2rem;">여가/활동</p>
                    <p class="type-text" style="padding:0 0.2rem;">{{places_yeo|length}}</p>
                </button>
            </span>
        </div>
        
        <!--선택된 장소 리스트들화면-->
        <div class="container place-list m-2 me-3 place_list" id="place_list_sick" style="width: 340px;">
            <!--한객체씩의 div-->
            {% for places in places_sick %}
            <div class="row d-flex flex-row ps-1 justify-content-center align-items-center">
                <img class="col-3" src="{{places.img.url}} " >
                    <div class="col-5 d-flex flex-column justify-content-center ps-1 me-3">
                        <h1 style="font-size:18px; margin:0; font-weight:bold; padding-bottom:0.2rem;">{{places.name}}</h1>
                        <p style="font-size:14px; margin:0;">{{places.address}}</p>
                    </div>
                    <input class="col-1 place_checkbox" type="checkbox" id="checkbox_{{places.id}}" style="width:2rem;">
                <hr>
            </div>
            {% endfor %}
        </div>
        <div class="container place-list m-2 me-3 place_list" id="place_list_ca" style="width: 340px;">
            <!--한객체씩의 div-->
            {% for places in places_ca %}
            <div class="row d-flex flex-row ps-1 justify-content-center align-items-center">
                <img class="col-3" src="{{places.img.url}}" >
                    <div class="col-5 d-flex flex-column justify-content-center ps-1 me-3">
                        <h1 style="font-size:18px; margin:0; font-weight:bold; padding-bottom:0.2rem;">{{places.name}}</h1>
                        <p style="font-size:14px; margin:0;">{{places.address}}</p>
                    </div>
                    <input class="col-1 place_checkbox" type="checkbox" id="checkbox_{{places.id}}" style="width:2rem;">
                <hr>
            </div>
            {% endfor %}
        </div>
        <div class="container place-list m-2 me-3 place_list" id="place_list_ja" style="width: 340px;">
            <!--한객체씩의 div-->
            {% for places in places_ja %}
            <div class="row d-flex flex-row ps-1 justify-content-center align-items-center">
                <img class="col-3" src="{{places.img.url}}" >
                    <div class="col-5 d-flex flex-column justify-content-center ps-1 me-3">
                        <h1 style="font-size:18px; margin:0; font-weight:bold; padding-bottom:0.2rem;">{{places.name}}</h1>
                        <p style="font-size:14px; margin:0;">{{places.address}}</p>
                    </div>
                    <input class="col-1 place_checkbox" type="checkbox" id="checkbox_{{places.id}}" style="width:2rem;">
                <hr>
            </div>
            {% endfor %}
        </div>
        <div class="container place-list m-2 me-3 place_list" id="place_list_yeo" style="width: 340px;">
            <!--한객체씩의 div-->
            {% for places in places_yeo %}
            <div class="row d-flex flex-row ps-1 justify-content-center align-items-center">
                <img class="col-3" src="{{places.img.url}}" >
                    <div class="col-5 d-flex flex-column justify-content-center ps-1 me-3">
                        <h1 style="font-size:18px; margin:0; font-weight:bold; padding-bottom:0.2rem;">{{places.name}}</h1>
                        <p style="font-size:14px; margin:0;">{{places.address}}</p>
                    </div>
                    <input class="col-1 place_checkbox" type="checkbox" id="checkbox_{{places.id}}" style="width:2rem;">
                <hr>
            </div>
            {% endfor %}
        </div>
    </div>

    <!--자리차지를 위한 공허div-->
    <div style="height:170px"></div>

    <!--지도 부분 -> 1. 지도 / 2. 마커 / 3. 경로-->
    <div style="padding:2rem;"style="position: relative;">
        <h1 class="map-title">대구 지도</h1>
        <div class="map">
        <img src="{% static 'img/map.png' %}" style=" position: absolute; top:0; left: 0; width: 100%; height: 100%; z-index: -1;">
        <canvas id="myCanvas" width="272" height="313"></canvas>
        <!--이제 마커이미지들 렌더링-->
        {% for places in places_sick %}
            <img src="{%static 'img/marker-res.png'%}" class="marker" id="marker_{{places.id}}">
        {% endfor %}
        {% for places in places_ca %}
            <img src="{%static 'img/marker-cafe.png'%}" class="marker" id="marker_{{places.id}}">
        {% endfor %}
        {% for places in places_ja %}
            <img src="{%static 'img/marker-natural.png'%}" class="marker" id="marker_{{places.id}}">
        {% endfor %}
        {% for places in places_yeo %}
            <img src="{%static 'img/marker-yeo.png'%}" class="marker" id="marker_{{places.id}}">
        {% endfor %}
    </div>
    </div>

    <!--complete button-->
    <div style="padding-left:1rem;" class="pb-5">
        <button class="btn complete-btn">코스 확정하기</button>
    </div>

    <!--new search site-->
    <div id="modal-box" class="search-modal">
        <div>
            <div class="new-search-site-box">
                <div class="new-search-site-header">
                    <img id="deleteBtn" src="{% static 'img/left-arrow.png' %}" >
                    <div class="d-flex new-search-site-search" role="search">
                        <input id="search" class="form-control course-search-text" type="search" placeholder="가고싶은 장소를 검색해보세요." aria-label="Search">
                        <button id="result-button" class="btn course-search-button"><img style="height:1.2rem;" src="{% static 'img/search.png' %}"></button>
                    </div>
                </div>
            </div>
            <div style="display:flex; justify-content:end; padding:1rem; padding-bottom:0;">
                <div id="next-btn" class="new-search-site-nextButton-box">
                    <button class="btn" style="background:#545157; color:white; width:6rem; height:2rem; padding-top:0;">다음</button>
                </div>
                <div id="nex-btn-temp" style="height:2rem; padding-top:0;"></div>
            </div>
            <img src="{% static 'img/line.png' %}">

            <!--new search result-->
            <div>
                <div id="modal-result" class="modal-result">
                    <div class="new-search-result-box">
                        <img class="new-search-result-img" src="{% static 'img/location-purple.png' %}">
                        <div class="new-search-result-box" style="display:flex; flex-direction:column; align-items:start;">
                            <h1 class="new-search-result-store" style="display:flex;"><span class="new-search-result-title">교동 도나스</span>파티마점</h1>
                            <p class="new-search-result-address">대구 동구 동대구로 577 301동 106호</p>
                        </div>
                        <input type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    </div>
                </div>

                <!--select type-->

                <div id="select-type-modal" class="select-type-modal" style="background-color:white;">
                    <div style="padding-left:0.5rem;">
                        <hr>
                        <h1 style="font-weight:bold; font-size:15px; padding-left:1rem;">장소 유형을 선택해주세요.</h1>
                        <div style="display:flex; padding-top:1rem;">
                            <button type="button" class="btn select-type-box">
                                <div><img src="{% static 'img/restaurant.png' %}" style="width:17px; height:17px;"></div>
                                <p class="type-text">식당</p>
                            </button>
                            <button type="button" class="btn select-type-box" style="margin-left:0.2rem;">
                                <div><img src="{% static 'img/cafe.png' %}" style="width:17px; height:17px;"></div>
                                <p class="type-text">카페</p>
                            </button>
                            <button type="button" class="btn select-type-box" style="margin-left:0.2rem;">
                                <div><img src="{% static 'img/nature.png' %}" style="width:17px; height:17px;"></div>
                                <p class="type-text">자연</p>
                            </button>
                            <button type="button" class="btn select-type-box-larger" style="margin-left:0.2rem;">
                                <div><img src="{% static 'img/hobby.png' %}" style="width:17px; height:17px;"></div>
                                <p class="type-text">여가/활동</p>
                            </button>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="search-ment" class="search-ment">
                <p style="font-size:17px;">추가하고 싶은 장소를 검색해보세요!</p>
            </div>

        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function(){
            $(".marker").hide();
            $(".place_list").hide();
            $("#place_list_sick").show();
        });
        
        //카테고리 버튼 클릭했을 때 아래 리스트 바꿔주는 클릭이벤트핸들러
        $(".btn.type-box").on("click", function(e){
            $(".place_list").hide();
            switch($(this).attr("name")){
                case "sick":
                    $("#place_list_sick").show();
                    break;
                case "ca":
                    $("#place_list_ca").show();
                    break;
                case "ja":
                    $("#place_list_ja").show();
                    break;
                case "yeo":
                    $("#place_list_yeo").show();
                    break;
            }
        });

        var DeaguLDX=128.34930124091187
        var DeaguLDY=35.605941387338426
        var DeaguW=0.41653991722771
        var DeaguH=0.409277215704108
        //렌더링된 마커들의 실제좌표 x,y를 이용해 사진상에 맞게 축소후 재배치
        {% for places in places_sick %}
            $("#marker_{{places.id}}").css("left", String(Math.round(({{places.lng}}-DeaguLDX)*(parseInt($(".map").css("width")))/DeaguW) - parseInt($(".marker").css("width"))/2)+"px")
            $("#marker_{{places.id}}").css("bottom", String(Math.round(({{places.lat}}-DeaguLDY)*(parseInt($(".map").css("height")))/DeaguH))+"px")
        {% endfor %}
        {% for places in places_ca %}
            $("#marker_{{places.id}}").css("left", String(Math.round(({{places.lng}}-DeaguLDX)*(parseInt($(".map").css("width")))/DeaguW) - parseInt($(".marker").css("width"))/2)+"px")
            $("#marker_{{places.id}}").css("bottom", String(Math.round(({{places.lat}}-DeaguLDY)*(parseInt($(".map").css("height")))/DeaguH))+"px")
        {% endfor %}
        {% for places in places_ja %}
            $("#marker_{{places.id}}").css("left", String(Math.round(({{places.lng}}-DeaguLDX)*(parseInt($(".map").css("width")))/DeaguW) - parseInt($(".marker").css("width"))/2)+"px")
            $("#marker_{{places.id}}").css("bottom", String(Math.round(({{places.lat}}-DeaguLDY)*(parseInt($(".map").css("height")))/DeaguH))+"px")
        {% endfor %}
        {% for places in places_yeo %}
            $("#marker_{{places.id}}").css("left", String(Math.round(({{places.lng}}-DeaguLDX)*(parseInt($(".map").css("width")))/DeaguW) - parseInt($(".marker").css("width"))/2)+"px")
            $("#marker_{{places.id}}").css("bottom", String(Math.round(({{places.lat}}-DeaguLDY)*(parseInt($(".map").css("height")))/DeaguH))+"px")
        {% endfor %}
        
        //체크박스 활성화 했을 때 이벤트핸들러 -> 1. 지도상에 마커띄움 / 2. 이전걸 참고해 경로그리기
        let coord2s_checked =[];
        const canvas = document.getElementById('myCanvas');
        console.log(canvas);
        const ctx = canvas.getContext("2d");
        $(".place_checkbox").change(function(){
            canvas.width = canvas.width;
            ctx.beginPath();
            ctx.strokeStyle="rgb(110, 16, 136)"
            ctx.lineWidth=3
            ctx.lineCap="round"
            ctx.lineJoin="round"
            var checkid = String($(this).attr("id").substring(9));
            console.log(checkid);
            var checkxy = [String(parseInt($("#marker_"+checkid).css("left"))+parseInt($(".marker").css("width"))/2), String(canvas.height - parseInt($("#marker_"+checkid).css("bottom")))];
            $("#marker_"+checkid).toggle(200);
            if ( $(this).prop('checked') ) {
                coord2s_checked.push(checkxy);
            } else {
                for(let i = 0; i<coord2s_checked.length; i++){
                    if(coord2s_checked[i][0] == checkxy[0] && coord2s_checked[i][1] == checkxy[1]){
                        coord2s_checked.splice(i, 1);
                    }
                }
            }
            for(let i = 1; i<coord2s_checked.length; i++){
                ctx.moveTo(coord2s_checked[i-1][0], coord2s_checked[i-1][1]);
                ctx.lineTo(coord2s_checked[i][0], coord2s_checked[i][1]);
                ctx.stroke();
            }
        });

        const modalToggle = function() {
            document.querySelector('#modal-box').classList.toggle('active')
        }
        const modalResult = function() {
            document.querySelector('#modal-result').classList.toggle('active')
        }
        const nextBtn = function() {
            document.querySelector('#next-btn').classList.toggle('active')
        }
        const selectTypeModal = function() {
            document.querySelector('#select-type-modal').classList.toggle('active')
        }
        const searchMent = function() {
            document.querySelector('#search-ment').classList.toggle('hidden')
        }
        const modalBtn = document.querySelector('#modalBtn')
        modalBtn.addEventListener('click', modalToggle)

        const deleteBtn = document.querySelector('#deleteBtn')
        deleteBtn.addEventListener('click', modalToggle)

        const resultBtn = document.querySelector('#result-button')
        resultBtn.addEventListener('click', modalResult)
        resultBtn.addEventListener('click', nextBtn)
        resultBtn.addEventListener('click', searchMent)

        const nextButton = document.querySelector('#next-btn')
        nextButton.addEventListener('click', selectTypeModal)
    </script>
</div>
<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">hi</div>

</div>

<script>
    const pic_tab=document.getElementById('pills-home-tab')
    const cou_tab=document.getElementById('pills-profile-tab')
    pic_tab.addEventListener('click', ()=>{
        pic_tab.style="border-bottom: 3px solid #450C8D;"
        cou_tab.style="border-bottom: 0px;"
    })
    cou_tab.addEventListener('click', ()=>{
        cou_tab.style="border-bottom: 3px solid #450C8D;"
        pic_tab.style="border-bottom: 0px;"
    })
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>


{% endblock %}