@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

/*header*/
.header-format{
    position:fixed; 
    top:0; 
    left:0; 
    right:0; 
    height:4.5rem; 
    background-color:white; 
    display:flex; 
    justify-content:center; 
    align-items:center;
}

.header-text{
    font-family: 'Jua', sans-serif;
    margin:3rem; 
    color:purple; 
    font-size:30px;
    font-weight:bold;
}

/*search*/
.search{
    margin-top:3rem; 
    padding:2rem; 
    padding-bottom:0;
}

/*content*/
.content-text{
    padding-left:2rem; 
    font-weight:bold; 
    color:purple; 
    font-size:20px;
}

.content-list{
    height:220px; 
    white-space:nowrap; 
    overflow-x:scroll;
}

.content-img{
    width:200px; 
    margin:0 0.5rem;
}

/*course*/
.course-text{
    padding-left:2rem; 
    font-weight:bold; 
    color:black; 
    font-size:20px;
}

.course-list{
    height:420px; 
    white-space:nowrap; 
    overflow-x:scroll;
}

.course-img{
    width:200px; 
    height:400px; 
    margin:0 0.5rem;
}

.footer-list{
    background-color:white; 
    position:fixed; 
    bottom:0; 
    left:0; 
    right:0; 
    height:4rem; 
    width:100vw; 
    display:flex; 
    justify-content:space-between; 
    align-items:center; 
    padding: 0; 
    border-radius:15px; 
    box-shadow:0px -5px 10px -5px gray; 
    padding:0 0.5rem;
}

.footer-icon{
    width:33%; 
    display:flex; 
    justify-content:center;
}

/*posting*/
.writer-box{
    display:flex; 
    align-items: center; 
    padding-left:2rem;
}

.writer-img{
    height:60px;
}

.writer{
    margin-left:0.5rem;
}

.carousel-box{
    padding:1rem 2rem 2rem 2rem; 
    width:100%;
}

.text-box{
    margin-left:2.4rem;
}

.text-title{
    font-size:20px; 
    font-weight:bold;
    padding-top:0;
}

.text-content{
    font-size:15px; 
    padding-top:0.5rem;
}

.save-box{
    padding-left:10rem;
}

.save-img{
    height:1.5rem;
}

.save-text{
    font-weight:bold; 
    font-weight:10px; 
    margin:0; 
    font-size:10px;
}

.type-box{
    border-radius:15px; 
    display:flex; 
    align-items:center; 
    justify-content:space-around;
    padding:0 1rem;
    width:5rem; 
    height:2rem; 
    box-shadow:0px 5px 5px rgb(129, 72, 129);
}

.type-text{
    margin:0; 
    font-size:12px; 
    font-weight:bold;
}

/*comment*/
.comment-card{
    padding:2rem; 
    padding-top:5rem; 
    padding-bottom:4.5rem;
}

.comment-box{
    display:flex;
    flex-direction: row;
}

.comment-img{
    height:60px; 
    padding:0;
}

.comment-writer{
    margin-left:0.5rem;
    padding-left:0.5rem;
}

.comment-person{
    font-size:20px; 
    font-weight:bold; 
    margin:0;
}

.comment-content{
    font-size:15px; 
    margin:0; 
    margin-top:0.4rem;
}

.comment-post{
    color:blue; 
    font-size:20px; 
    margin:0; 
    padding-top:1rem; 
    padding-left:5rem;
}

/*detail - posting*/
.posting-total-box{
    margin-top:2rem; 
    padding-left:0;
}

.carousel-img{
    height:300px;
    width:300px;
}

.posting-toast-box{
    background-color:rgb(63, 63, 63); 
    display:flex; 
    flex-direction:row; 
    justify-content:center; 
    align-items:center; 
    border-radius:10px; 
    height:4rem;
}

.posting-toast-text{
    text-align:center; 
    color:white; 
    margin:0; 
    font-size:17px;
}

.posting-toast-close{
    color:white; 
    font-weight:bold; 
    background-color:rgb(63, 63, 63); 
    border:0px; 
    margin-left: 1rem;
}

/*course - tab*/
.tab{
    width:50vw; 
    background-color:white; 
    color:black;
}