/*header*/
.header-format{
    position:fixed; 
    top:0; 
    left:0; 
    right:0; 
    height:3.5rem; 
    background-color:white; 
    display:flex; 
    justify-content:center; 
    align-items:center;
}

.header-text{
    margin:0; 
    color:black; 
    font-size:20px;
}

/*search*/
.search{
    margin-top:3rem; 
    padding:2rem; 
    padding-bottom:0;
}

/*content*/
.content-text{
    padding-left:2rem; 
    font-weight:bold; 
    color:purple; 
    font-size:20px;
}

.content-list{
    height:220px; 
    white-space:nowrap; 
    overflow-x:scroll;
}

.content-img{
    width:200px; 
    margin:0 0.5rem;
}

/*course*/
.course-text{
    padding-left:2rem; 
    font-weight:bold; 
    color:black; 
    font-size:20px;
}

.course-list{
    height:420px; 
    white-space:nowrap; 
    overflow-x:scroll;
}

.course-img{
    width:200px; 
    height:400px; 
    margin:0 0.5rem;
}

.footer-list{
    background-color:white; 
    position:fixed; 
    bottom:0; 
    left:0; 
    right:0; 
    height:4rem; 
    width:100vw; 
    display:flex; 
    justify-content:space-between; 
    align-items:center; 
    padding: 0; 
    border-radius:15px; 
    box-shadow:0px -5px 10px -5px gray; 
    padding:0 0.5rem;
}

.footer-icon{
    width:33%; 
    display:flex; 
    justify-content:center;
}